venv/


#backend
backend/db.sqlite3

backend/backend/__pycache__

backend/users/__pycache__
backend/users/migrations/
backend/.env


backend/carts/__pycache__
backend/carts/migrations/

backend/products/__pycache__
backend/products/migrations/

#fronte